
<!-- <div class="choose">
    <input class="form-control"  type="file" 
            (change)="onChange($event)">
  <br>
  <br>
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload File
    </button>
</div>
   -->
   <div class="list">
      <div class="col-md-12 col-lg-6 col-xxxl-6">
    
        <nb-card class="list-card">
         <nb-card-header>Import Contact</nb-card-header>
          <nb-card-body>
            <form  class="editform-ui">
              <div class="form-group">
                <input  class="form-control"  type="file" 
                (change)="onChange($event)"> 
              </div>
              <button  class="btn"  type="submit" (click)="onUpload()" nbButton status="success">Upload&nbsp;<i class="fa fa-upload" ></i></button>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    
     
     
    
     
      
    
    
     
     
    
      
      
    
    