// nb-checkbox {
//   margin-bottom: 1rem;
// }

// .form-inline [fullWidth] {
//   flex: 1;
// }

// .form-inline > * {
//   margin: 0 1.5rem 1.5rem 0;
// }

// nb-card.inline-form-card nb-card-body {
//   padding-bottom: 0;
// }
// :host{
//   width:100px
// }
// .choose{
//   margin-left: 20px;
//   margin-top: 30px;
//   width:600%;
 
//   // text-align: center;
// }
// .container{
//   margin-top: 30%;
// }
// .visit{
//   padding-top: 30%;
// }
// .p{
//   font-size: small;
// }
// .btn{
//   margin-left: 30%;
// }

// // .form-control{
// //   text-align: right;
// // }

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.form-group{
  padding-bottom: 10px;
  text-align: center;

}
.btn{
 margin-left: 35%;
}
// .list{
//   margin-top: 35%;
// }