<h1 id="title" class="title">Register</h1>
<p class="sub-title">Hello! Register Here!</p>



<!-- <form [formGroup]="myReactiveForm" (ngSubmit)="login()" class="editform-ui"> -->
  <form>
    <div class="form-control-group">
      <label class="label" for="input-email">Full Name:</label>
      <input nbInput fullWidth  placeholder="Enter FullName" fieldSize="large" autofocus>
  
    </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email Address:</label>
    <input nbInput fullWidth  placeholder="Enter Email " fieldSize="large" autofocus>

  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">Password:</label>
    <input nbInput fullWidth  placeholder="Enter Password" fieldSize="large" autofocus>

  </div>
  <div class="form-control-group">
    <label class="label" for="input-email">Confirm Password:</label>
    <input nbInput fullWidth  placeholder="Re-Enter Password" fieldSize="large" autofocus>

  </div>
<!-- 
  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>
    </span>
    <input nbInput fullWidth  type="password" placeholder="Password" fieldSize="large">


  </div> -->



  <button nbButton fullWidth status="primary" size="large">
   Register
  </button>
</form>



<section class="another-action" aria-label="Login">
  Have an account? <a class="text-link" routerLink="../">Login</a>
</section>