<div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">

    <nb-card class="list-card">
      <nb-card-header>ASO Optimization</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="editform-ui">
          <div class="form-group" fullWidth size="large">
            <textarea formControlName="shortdescription" nbInput fullWidth placeholder="Short Description"></textarea>
          </div>
          <br>
          <div class="form-group" fullWidth size="large">
            <textarea formControlName="longdescription" nbInput fullWidth placeholder="Long Description"></textarea>
          </div>
          <br>

          <div class="form-group">
            <input type="text" formControlName="screenshot" nbInput fullWidth placeholder="Screenshot">
          </div>
          <br>
          <div class="form-group">
            <input type="text" formControlName="tag" nbInput fullWidth placeholder="Tag">
          </div>
          <br>

          <div class="form-group">
            <input type="text" formControlName="owner_id" nbInput fullWidth placeholder="Owner Id">
          </div>
          <br>
          <div class="form-group">
            <input type="text" formControlName="app_id" nbInput fullWidth placeholder="App Id">
          </div>
          <br>
          <div class="form-group">
            <input type="text" formControlName="app_name" nbInput fullWidth placeholder="App Name">
          </div>
          <br>
          
          <button type="submit" nbButton status="success">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

 
 

  <!-- <div class="col-md-12 col-lg-6 col-xxxl-6">
      <nb-card class="list-card" >
        <nb-card-header>Customer List</nb-card-header>
        <nb-list>
          <nb-list-item *ngFor="let customer of customerList">
            <nb-user [name]="customer.fullName" [title]="customer.email" > -->
              <!-- <nb-user [name]="customer.mobile" [title]="customer.email" > -->
            <!-- </nb-user> -->
            <!-- </nb-user>
            </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div> -->
  

