<!-- 
<div class="row">
  <div class="col-md-6">
    

    <nb-card>
      <nb-card-header>Promotional Message</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit(myReactiveForm)" class="editform-ui">
          <div class="form-group">
            <input type="number" formControlName="number" nbInput fullWidth placeholder="Enter Number">
          </div>
          
          <div class="form-group">
            <textarea nbInput formControlName="description" placeholder="Message"></textarea>
          </div>
          <button type="submit" nbButton status="success">Send</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

   -->

   <nb-card>
    <!-- <nb-card-header>
      <button nbButton (click)="open3()">Send Message<i class="nb-message-square"></i></button>
    </nb-card-header> -->
  
    <nb-card-body>
      <!-- <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"> -->
      <ng2-smart-table [settings]="settings" [source]="source"  (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>