<div class="row">
  <div class="col-md-6">
  

    <nb-card size="medium">
      <nb-card-header>Customer Creation</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="editform-ui">
          <div class="form-group">
            <input type="text" formControlName="fullName" nbInput fullWidth placeholder="Enter FullName">
          </div>
          <br>
          <div class="form-group">
            <input type="text" formControlName="address" nbInput fullWidth placeholder="Enter Address">
          </div>
          <br>

          <div class="form-group">
            <input type="email" formControlName="email" nbInput fullWidth placeholder="Enter Email">
          </div>
          <br>

          <div class="form-group">
            <input type="number" formControlName="mobile" nbInput fullWidth placeholder="Enter Number">
          </div>
          <br>
          
          <button type="submit" nbButton status="success">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>

  </div>
  </div>


