
<nb-card class="card" >
  <nb-card-header fullWidth>Bulk Email<i class="nb-email"></i><i class="nb-email"></i></nb-card-header>
  <!-- <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit(myReactiveForm)" class="editform-ui"> -->
  <nb-card-body fullWidth size="large">
    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit(myReactiveForm)" class="editform-ui">
      <div class="form-group" fullWidth size="large">
        <input type="number" formControlName="mobile" nbInput fullWidth placeholder="To: Selected Emails" disabled>
      </div>
      <div class="form-group" fullWidth size="large">
        <textarea formControlName="description" nbInput fullWidth placeholder="Description"></textarea>
      </div>
  <nb-card-footer>
    <!-- <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button> -->
    <button type="submit" nbButton status="success" >Send</button>
  </nb-card-footer>
</form>
</nb-card-body>
</nb-card>
