 


<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your Email.</p>

 

<form  [formGroup]="myReactiveForm" (ngSubmit)="login()" class="editform-ui">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           fullWidth
           formControlName="email"
         
           placeholder="Email address"
           fieldSize="large"
           autofocus
           >
    
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <a class="forgot-password caption-2" routerLink="./forgot">Forgot Password?</a>
    </span>
    <input nbInput
           fullWidthlist
           formControlName="password"
           type="password"
           
           placeholder="Password"
           fieldSize="large">

     
  </div>

 

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          
  >
    Log In
  </button>
</form>

 
<!-- 
<section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="./register">Register</a>
</section> -->



<!-- <nb-card size="list-card">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Customers">
      <nb-list>
        <nb-list-item class="contact" *ngFor="let customer of customerList">
          <nb-user  [name]="customer.fullName" [title]="customer.email" size="medium"></nb-user>
          <nb-icon icon="phone-outline" pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-tab>
    </nb-tabset>
    </nb-card> -->
  
<!-- [picture]="c.user.picture" -->