 <div class="lists row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">

    <nb-card class="list-card">
      <nb-card-header>SEO Optimization</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" class="editform-ui">
          <div class="form-group" fullWidth size="large">
            <input type="text" formControlName="website_name" nbInput fullWidth placeholder="Website Name">
          </div>
          <br>
          <div class="form-group" fullWidth size="large">
            <input type="text" formControlName="web_url" nbInput fullWidth placeholder="Web Url">
          </div>
          <br>
       

          <div class="form-group">
            <tag-input formControlName="tag" theme='dark' [(ngModel)]='items' (onAdd)="onItemAdded($event)"></tag-input>
           </div>
           <br>
          <div class="form-group">
            <input type="text" formControlName="title" nbInput fullWidth placeholder="Title">
          </div>
          <br>
          <div class="form-group">
            <input type="text" formControlName="description" nbInput fullWidth placeholder="Description">
          </div>
         
       
          <br>
         
  
          
          <button type="submit" nbButton status="success">Submit</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

 
 


  
 