@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .buttons-row {
    margin: -0.5rem;
  }

  button[nbButton] {
    margin: 0.5rem;
  }

  .action-icon {
    @include nb-ltr(margin-right, 0.5rem);
    @include nb-rtl(margin-left, 0.5rem);
  }

  .actions-card {
    height: 8rem;
  }
}
:host /deep/ .ng2-smart-action-multiple-select{ text-align: center; }

:host /deep/ .ng2-smart-action-multiple-select > input{ width:15px; height:15px; display: unset; }
