<!-- 
<div class="row">
  <div class="col-md-6">
    

    <nb-card>
      <nb-card-header>Compose Email</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit(myReactiveForm)" class="editform-ui">
          <div class="form-group">
            <input type="email" formControlName="email" nbInput fullWidth placeholder="Enter Emai To">
          </div>
          
          <div class="form-group">
            <textarea nbInput formControlName="description" placeholder="Message"></textarea>
          </div>
          <button type="submit" nbButton status="success">Send</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

   -->


   <nb-card>
    <nb-card-header>
      <button nbButton (click)="open3()">Send Email<i class="nb-email"></i></button>
    </nb-card-header>
  
    <nb-card-body>
      <!-- <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"> -->
      <ng2-smart-table [settings]="settings" [source]="source"  (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <!-- (createConfirm)="onCreateConfirm(event)" -->
  <!-- <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card class="form-input-card">
      <nb-card-header></nb-card-header>
      <nb-card-body class="result-from-dialog">
        <button nbButton (click)="open3()">Enter Name</button>
        <br>
        <h3 class="title">Names:</h3>
        <ul>
          <li *ngFor="let cust(click)="open3()omer of customerList">{{ customer.fullName }}</li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->